<html ><head>
<meta charset=utf-8" />
<title>Delete Document</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<script src="../static/proj.js"></script>
</head>
<body>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<div id="wrap">
<div id="header" ><br />
<br />
<h1>Delete the Selected Document</h1>

</div>
<div id="nav">
<ul>
<li><a href="http://localhost:8001/">Home</a></li>
<li><a href="https://data.cityofchicago.org/Public-Safety/Crimes-2002/g9qy-h66j">View</a></li>
<li><a href="http://localhost:8001/edit">Edit</a></li>
<li><a href="http://localhost:8001/new">New</a></li>
<li><a href="http://localhost:8001/delete">Delete</a></li>
<li><a href="http://localhost:8001/QBY">Query By Year</a></li>
<li><a href="http://localhost:8001/BarChart">Statistic Visualization</a></li> 

</ul>
</div>
<div id="content">
<form style="font-size:x-large;font-weight:bold">
                Case Number:<input id="CNumber2" type="text" size="40" style="width: 350px;font-size:large">
               <input id="S1" type="button" value="Delete" onclick="SendPostDelete();" style="width: 350px; font-size:large;Color:black; font-weight:bold;background-color:#ddd;">
</form>
</div>
</div>

</body>
<script>

</script>
</html>