<!--This tamplate has been modified from http://www.gonglue8.com/free-css-templates-free-website-all-free-download.html-->
<html ><head>
<meta charset=utf-8" />
<title>Advanced Database Design's Project</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />


</head>
<body>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<div id="wrap">
<div id="header" ><br />
<br />
<h1>Advanced DataBase Design Project</h1>
<div style="float:right">
<h2 style="text-align: center;">Done By:<br/>Farah Kamw and Rusul Jabbar
</h2></div>
</div>
<div id="nav">
<ul>
<li><a href="http://localhost:8001/">Home</a></li>
<li><a href="https://data.cityofchicago.org/Public-Safety/Crimes-2002/g9qy-h66j">View</a></li>
<li><a href="http://localhost:8001/edit">Edit</a></li>
<li><a href="http://localhost:8001/new">New</a></li>
<li><a href="http://localhost:8001/delete">Delete</a></li>
<li><a href="http://localhost:8001/QBY">Query By Year</a></li>
<li><a href="http://localhost:8001/BarChart">Statistic Visualization</a></li> 

</ul>
</div>
<div id="content">
<h3>City of Chicago's Crimes From 2002 To Present!</h3>
<img src="../static/images/chicago-tours-shuttle.jpg" alt="chicago" class="fancy left" style="height: 200px; width: 200px;" />

<p style="text-align: justify;"><br/>
Chicago saw a major rise in violent crime starting in the late 1960s.Murders in the city first peaked in 1974, with 970 murders when the city's population was over three million, resulting in a murder rate of around 29 per 100,000, and again in 1992, with 943 murders when the city had fewer than three million people, resulting in a murder rate of 34 murders per 100,000 citizens.
After 1992, the murder count decreased to 641 murders. The population was at 2,799,000 in 1999, so the decrease was slow, but still an improvement. In 2002, Chicago had fewer murders but a significantly higher murder rate than New York or Los Angeles.
<a href="https://en.wikipedia.org/wiki/Crime_in_Chicago">From wikipedia</a><br/><br/></p>

<div>
<h2>Acknowledgement:<br />
</h2>
<p>This software has been developed for the advanced database design class under the advice of Dr.Gregory Delozier. <br />
<a  href="https://github.com/gregdelozier/advanced_database_class">Advanced DataBase Design Course Website</a>
</p>

</div>
</div>
</div>

</body></html>